In [ ]:
Lists
Dictionaries
Tuples
Functions
Class

#### Lists

In [6]:
l1 = []

In [8]:
type(l1)

list

In [9]:
l1 = ['Sreemanto','Jay',139,15.1]

In [10]:
#add a new element in the list
l1.append('Tejas')

In [11]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas']

In [12]:
#append - appends one element at a time
l1.extend([100,200])

In [13]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas', 100, 200]

In [14]:
l1.append(100,200)

TypeError: append() takes exactly one argument (2 given)

In [15]:
l1

['Sreemanto', 'Jay', 139, 15.1, 'Tejas', 100, 200]

In [16]:
l1[0]

'Sreemanto'

In [17]:
l1[1]

'Jay'

In [18]:
l1[-1]

200

In [19]:
l2 = [123,39,45]

In [20]:
l2.sort()

In [21]:
l2

[39, 45, 123]

In [24]:
l2.reverse()

In [25]:
l2

[39, 45, 123]

In [26]:
l3 = ['Tejas','Sree','Yash']

In [27]:
l3.sort()

In [28]:
l3

['Sree', 'Tejas', 'Yash']

In [29]:
l4 = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]

In [30]:
l4[0]

[121, 'Sree', 5.5]

In [31]:
l4[0][-1]

5.5

In [32]:
len(l4)

3

In [33]:
l4.pop(0)

[121, 'Sree', 5.5]

In [34]:
l4

[[122, 'Jay', 3.1], [123, 'Tarun', 2.1]]

In [35]:
a = l4.pop(1)

In [36]:
a

[123, 'Tarun', 2.1]

In [37]:
l3

['Sree', 'Tejas', 'Yash']

In [38]:
l3.remove('Tejas')

In [39]:
l3

['Sree', 'Yash']

In [44]:
str1 = 'Timothy King Astor IV'

# copy all the vowels in a list
vowels_list = []

for i in str1:
    if i in "AIEOUaieou":
        vowels_list.append(i)

In [45]:
vowels_list

['i', 'o', 'i', 'A', 'o', 'I']

In [46]:
Emp_details = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]
# how do i extract only the employee id?

In [51]:
emp_id = []

for i in Emp_details:
    print(i[0])
    emp_id.append(i[0])

121
122
123

In [50]:
emp_id

[121, 122, 123]

In [52]:
Emp_details = [[121,'Sree',5.5],[122,'Jay',3.1],[123,'Tarun',2.1]]
# Extract all the employee id?

In [53]:
[i[0] for i in Emp_details]

[121, 122, 123]

#### List Comrehensions

In [62]:
squares = []
for i in range(10):
    squares.append(i*2)

In [63]:
squares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [64]:
sq = [i*i for i in range(10)]
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
bank_statements = [100,-1000,500,-5000,300]

In [58]:
credits = [i for i in bank_statements if i > 0]
credits

[100, 500, 300]

In [59]:
debits = [i for i in bank_statements if i < 0]
debits

[-1000, -5000]

#### Tuples

In [66]:
t1 = ('name',12,5.1)

In [67]:
type(t1)

tuple

In [68]:
t1[0]

'name'

#### Dictionaries

In [69]:
# key value pair
# similar to how we see objects in a json file
car = {"Brand" : 'Hyundai',
       "Model" : 'I20',
       "Year" : 2015}

In [70]:
type(car)

dict

In [71]:
car.keys()

dict_keys(['Brand', 'Model', 'Year'])

In [72]:
car.values()

dict_values(['Hyundai', 'I20', 2015])

In [73]:
car.items() #fethes key and value pairs in a tuple format

dict_items([('Brand', 'Hyundai'), ('Model', 'I20'), ('Year', 2015)])

In [74]:
#How do you acces an element in a doctionary
car['Model']

'I20'

In [75]:
#adding a new pair
car['Mileage'] = '13Kmpl'

In [76]:
car

{'Brand': 'Hyundai', 'Model': 'I20', 'Year': 2015, 'Mileage': '13Kmpl'}

In [77]:
len(car)

4

In [81]:
Emp = {
    'ids' : [121,122,123],
    'names' : ['Sree','Tejas','Jay'],
    'WorkEx' : [1.5,3.2,3.3]
}

In [90]:
for i in Emp.keys():
    print(i)

ids
names
WorkEx

In [86]:
for i in Emp:
    print(i,'---->',Emp[i])

ids ----> [121, 122, 123]
names ----> ['Sree', 'Tejas', 'Jay']
WorkEx ----> [1.5, 3.2, 3.3]

In [92]:
#add all the salaries
Emp = {
        '121' : {
        'name' : 'Sree',
        'WorkEx' : 4.9,
        'Position' : 'AM',
        'Salary' : 700000},
    
        '122' : {
        'name' : 'Kunal',
        'WorkEx' : 3.9,
        'Position' : 'SM',
        'Salary' : 900000},

        '123' : {
        'name' : 'Rohan',
        'WorkEx' : 1.5,
        'Position' : 'Con',
        'Salary' : 400000}
}

In [97]:
sal = 0
for i in Emp:
    print(Emp[i]['Salary'])
    sal = Emp[i]['Salary'] + sal

700000
900000
400000

In [98]:
sal

2000000

In [99]:
'7lpa' + '9lpa'

'7lpa9lpa'

In [2]:
Emp = {
    '121' : {
        'name' : 'Sree',
        'WorkEx' : 4.9,
        'Position' : 'AM',
        'Salary' : '7lpa'},
    
        '122' : {
        'name' : 'Kunal',
        'WorkEx' : 3.9,
        'Position' : 'SM',
        'Salary' : '9lpa'},

        '123' : {
        'name' : 'Rohan',
        'WorkEx' : 1.5,
        'Position' : 'Con',
        'Salary' : '14lpa'}
}

In [12]:
total_salary = 0
for i in Emp:
    #print(Emp[i]['Salary'])
    #print(Emp[i]['Salary'][0])    # fetch the first index value
    #print(int(Emp[i]['Salary'][0])) # convert this from string to integer
    #total_salary = int(Emp[i]['Salary'][0]) + total_salary

AttributeError: 'str' object has no attribute 'lsplit'

In [111]:
total_salary

20

In [ ]:
#fetch the sum of all the salaries?
for i in Emp.keys():
    #print(Emp[i]['Salary'])
    #print(Emp[i]['Salary'].split('lpa'))
    #print(Emp[i]['Salary'].split('lpa')[0])
    print(int(Emp[i]['Salary'].split('lpa')[0]))

In [ ]:
#fetch the sum of all the salaries?
total = 0
for i in Emp.keys():
    total = total + int(Emp[i]['Salary'].split('lpa')[0])

In [ ]:
str(total) + 'lpa'

#### Functions

In [13]:
def simple():
    print('Enterd the function')
    print('Simple function')
    
print('Not a part of the function')

Not a part of the function

In [14]:
simple()

Enterd the function
Simple function

In [29]:
#function with a parameter
def plus_ten(a):
    print('Value',a)

In [30]:
plus_ten(80)

Value 80

In [18]:
#function with a parameter and returning a value
def plus_ten(a):
    print('Value ',a)
    return a+10

In [19]:
plus_ten(25)

Value  25

35

In [20]:
val = plus_ten(25)
val

Value  25

35

In [21]:
def minus_ten(a):
    print('Value ',a-10)

In [22]:
minus_ten(225)

Value  215

In [23]:
val = minus_ten(225)

Value  215

In [24]:
print(val)

None

In [26]:
#Nested functions
def wage(w_hour):
    print('Entered the wage function')
    return w_hour*25

def with_bouns(w_hour):
    print('Entered the bonus function')
    return wage(w_hour)+50

In [27]:
wage(8)

Entered the wage function

200

In [28]:
with_bouns(8)

Entered the bonus function
Entered the wage function

250

In [31]:
WAF tp check if two lists have equal length, 
If yes return the length or else print they are not equal

In [39]:
def check_length(a,b):
    
    if len(a)==len(b):
        print("They have equal lengths")
        length = len(a)
    else:
        print("They do not have equal length")
        length = "They do not have equal length"
    
    return length

In [40]:
a = [12,35,56]
b = [90,10,12,90]

In [41]:
check_length(a,b)

They do not have equal length

'They do not have equal length'

In [42]:
my_list = [1,2,3,4,5]

In [43]:
type(my_list)

list

In [ ]:
my_list.

In [44]:
class SampleClass:  
    pass

In [45]:
s1 = SampleClass()

In [46]:
type(s1)

__main__.SampleClass

In [69]:
class MobilePhone():
    
    def __init__(self,Price,Model): #acts as constructor
                                    #constructor is something which activates an object
        self.m = Model
        self.p = Price

In [50]:
m1 = MobilePhone()

TypeError: __init__() missing 2 required positional arguments: 'Price' and 'Model'

In [51]:
m1 = MobilePhone(10000,'MI 9')

In [52]:
m1.m

'MI 9'

In [53]:
m1.p

10000

In [54]:
m2 = MobilePhone(60000,'Samsung S 10')

In [72]:
#objects = instances
#variable = attribute
#function = method

class Bank:
    
    #class atrubute/object attribute
    Bank_name = 'SBI' # class attribute
    
    def __init__(self,branch,employees):
        
        self.branch = branch
        self.employees = employees
        
    def acc_opening(self):        
        print("Bank has digitalized account opening process")

In [73]:
b1 = Bank('Andheri',10)
b2 = Bank('Thane',12)

In [75]:
b1.acc_opening()

Bank has digitalized account opening process

In [58]:
b1.employees

10

In [60]:
#b1.acc_opening
b1.acc_opening()

Bank has digitalized account opening process

In [61]:
b2.Bank_name

'SBI'

In [82]:
#accessing a value from __init__ --> use self
class Bank:
    
    Bank_name = 'SBI' # class attribute
    
    def __init__(self,branch,employees,acc):
        
        self.branch = branch
        self.employees = employees
        self.accounts = acc
        
    def acc_opening(self):        
        print("Bank has digitalized account opening process and opened {} accounts".format(self.accounts))

In [83]:
b3 = Bank('Dadar',20,1200)

In [84]:
print(b3.accounts)
b3.acc_opening()

1200
Bank has digitalized account opening process and opened 1200 accounts

In [85]:
b3.employees

20

In [65]:
#passing a value in a method from outside --> no need to use self
class Bank:
    
    Bank_name = 'SBI' # class attribute
    
    def __init__(self,branch,employees):
        
        self.branch = branch
        self.employees = employees
        
    def acc_opening(self,accounts):        
        print("Bank has digitalized account opening process and opened {} accounts".format(accounts))

In [66]:
b5 = Bank('Churchgate',25)

In [68]:
b5.acc_opening(15000)

Bank has digitalized account opening process and opened 15000 accounts

In [86]:
class circle:
    
    pi = 3.14
    
    def __init__(self,radius=1):
        self.radius = radius
        
    def perimeter(self):
        print('Circumference of the Circle is :  ',2*self.pi*self.radius)

In [87]:
c1 = circle()
c1.perimeter()

Circumference of the Circle is :   6.28

In [88]:
c2 = circle(10)
c2.perimeter()

Circumference of the Circle is :   62.800000000000004

In [89]:
64**0.5

8.0

Write a program which has a class 'Calculate' and it does two mathematical operations

Calculates the distance between two input data points (x1,y1) and (x2,y2)

Calculates slope between two input data points (x1,y1) and (x2,y2)

In [90]:
x,y = (1,7)

In [93]:
x1y1= (3,4)

In [94]:
x1 = x1y1[0]

In [98]:
y1 = x1y1[1]

In [99]:
y1

4

In [104]:
class calculate():
    
    def __init__(self,x1y1,x2y2):
        self.x1y1 = x1y1 # ---- (-1,12)
        self.x2y2 = x2y2 # ----- (22,10)
        
    def calc_distanc(self):
        x1,y1 = self.x1y1
        x2,y2 = self.x2y2
        
        return ((y2-y1)**2 + (x2-x1)**2)**0.5

    def calc_slope(self):
        x1,y1 = self.x1y1
        x2,y2 = self.x2y2
        
        return (y2-y1)/(x2-x1)

In [105]:
x1y1 = (-1,12)
x2y2 = (22,10)

obj1 = calculate(x1y1,x2y2)

In [102]:
obj1.calc_distanc()

23.08679276123039

In [103]:
obj1.calc_slope()

-0.08695652173913043